<footer>
    <div class="row chantrang">
        <div class="col-sm-3">
            <img src="homepage/img/logo3.png" class="img-responsive">
        </div>
        <div class="col-sm-5">
            <strong>GIỚI THIỆU</strong>
            <p>Là một startup mạng xã hội video dành cho các bạn trẻ Việt Nam bao gồm nhiều thể loại khác nhau.Giải trí,hài hước, vui nhộn tình cảm.</p>
            <br>
            <p>Dự án được phát triển bởi Dương Klyosaki.</p>
        </div>
        <div class="col-sm-4">
            <strong>LIÊN HỆ</strong>
            <p>Hotline: 01223554176 | balotv@gmail.com</p>
            <p>Liên hệ quảng cáo: 01223554176</p>
            <p>duongklyosaki@gmail.com</p>
        </div>
    </div>
    <div class="cuoitrang">
        <div id="content">
            <div class="tg">
                <span>Design by diepquocphong@gmail.com</span><br>
                <span>copyright @ 2018 - 2019</span>
            </div>
            <div class="ds">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>