<!--End-->
<!--Modal Sign In-->
<form action="userpage/register" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div>
                    <h4 class="modal-title" id="dn">Đăng ký</h4>
                </div>
                <div>
                    <input id="taikhoan" type="text" name="taikhoan" class="form-control" placeholder="Tài khoản">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                    <input id="matkhau" type="password" name="password" class="form-control" placeholder="Mật khẩu">
                    <input type="file" name="image" class="form-control" id="imageUser" style="display:none">
                    <label class="chonanh" class="btn btn-default form-control">Chọn ảnh</label>
                </div>
                <div>
                    <button type="button" class="btn btn-default form-control nut" data-dismiss="modal" id="txtlg">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--End-->