<!DOCTYPE html>
<html>

<head>
    <title>Trang chu</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="vien">
            <div class="logo">
                <img src="img/logo1.png">
            </div>
            <div class="timkiem input-group">
                <input type="text" class="form-control" id="nut1" placeholder="Bạn muốn tìm gì?">
                <button class="form-control" id="nut2"><i class="fa fa-search"></i><span id="text">Tìm Kiếm<span></button>
            </div>
            <div class="congcu">
                <div class="danhmuc">
                    <img src="img/danhmuc.png">
                </div>
                <div class="dangnhap">
                    <img src="img/dangnhap.png">
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <div class="col-sm-7">
                <img src="img/anh1.png" class="img-responsive">
            </div>
            <div class="col-sm-5">
                <div class="col-1">
                    <img src="img/anh2.png" class="img-responsive">
                </div>
                <div class="col-2">
                    <img src="img/anh3.png" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="img/thinh1.png" class="img-responsive">
            <div id="line"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
            </div>
            <div class="viewmore">
                <p>XEM THÊM NỮA</p>
            </div>
            <div class="brand">
                <img src="img/today1.png" class="img-responsive">
                <div id="line" style="left:67px"></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
                <div class="col-sm-3">
                    <img src="img/theface.png" class="img-responsive">
                    <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                    <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="img/theface.png" class="img-responsive">
                        <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                        <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="img/theface.png" class="img-responsive">
                        <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                        <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="img/theface.png" class="img-responsive">
                        <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                        <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="img/theface.png" class="img-responsive">
                        <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                        <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
                    </div>
                </div>
                <div class="viewmore">
                    <p>XEM THÊM NỮA</p>
                </div>
    </section>
    <footer>
        <div class="row chantrang">
            <div class="col-sm-3">
                <img src="img/logo3.png" class="img-responsive">
            </div>
            <div class="col-sm-5">
                <strong>GIỚI THIỆU</strong>
                <p>Là một startup mạng xã hội video dành cho các bạn trẻ Việt Nam bao gồm nhiều thể loại khác nhau.Giải trí,hài hước, vui nhộn tình cảm.</p>
                <br>
                <p>Dự án được phát triển bởi Dương Klyosaki.</p>
            </div>
            <div class="col-sm-4">
                <strong>LIÊN HỆ</strong>
                <p>Hotline: 01223554176 | balotv@gmail.com</p>
                <p>Liên hệ quảng cáo: 01223554176</p>
                <p>duongklyosaki@gmail.com</p>
            </div>
        </div>
        <div class="cuoitrang">
            <div id="content">
                <div class="tg">
                    <span>Design by diepquocphong@gmail.com</span><br>
                    <span>copyright @ 2018 - 2019</span>
                </div>
                <div class="ds">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>