<% include ./layout/header.ejs %>
    <header>
        <div class="vien">
            <div class="logo">
                <img src="homepage/img/logo1.png">
            </div>
            <div class="timkiem input-group">
                <input type="text" class="form-control" id="nut1" placeholder="Bạn muốn tìm gì?">
                <button class="form-control" id="nut2"><i class="fa fa-search"></i><span id="text">Tìm Kiếm<span></button>
            </div>
            <div class="congcu">
                <div class="danhmuc">
                    <i class="fas fa-th-large"></i>
                    <label>Danh mục</label>
                </div>
                <div class="dangnhap">
                    <i data-toggle="modal" data-target="#myModal" class="fas fa-power-off"></i>
                    <label>Đăng nhập</label>
                </div>

            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <div class="col-sm-7">
                <img src="homepage/img/atbe.jpg" class="img-responsive">
                <div class="xephang">
                    <label id="top">01</label>
                    <label id="time">TOP 24H</label>
                </div>
                <div class="tenvideo">
                    <p id="name">ÂM THẦM BÊN EM</p>
                    <p id="tg">Sơn Tùng MTP</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="col-1">
                    <img src="homepage/img/ongioi.jpg" class="img-responsive">
                    <div class="xephang">
                        <label id="top">01</label>
                        <label id="time">TOP 24H</label>
                    </div>
                    <div class="tenvideo">
                        <p id="name">Ơn Giời Cậy Đây Rồi</p>
                        <p id="tg">VTV3</p>
                    </div>
                </div>
                <div class="col-2">
                    <img src="homepage/img/vit1.jpg" class="img-responsive">
                    <div class="xephang">
                        <label id="top">01</label>
                        <label id="time">TOP 24H</label>
                    </div>
                    <div class="tenvideo">
                        <p id="name">Trào Lưu Vịt Hóa Thiên Nga...</p>
                        <p id="tg">VTV3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand">
            <strong>Thịnh hành</strong>
            <div id="line"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
        </div>
        <div class="viewmore">
            <p>XEM THÊM NỮA</p>
        </div>
        <div class="brand">
            <strong>Hôm nay</strong>
            <div id="line" style="left:39px"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
            <div class="col-sm-3">
                <img src="homepage/img/theface.png" class="img-responsive">
                <p id="content">The Face cuộc chiến đối đầu giữa ba vị giám...</p>
                <p id="chuthich">VTV3<i class="fa fa-circle"></i>1 tháng trước <i class="fa fa-circle"></i>2 Tr lượt xem</p>
            </div>
        </div>
        <div class="viewmore">
            <p>XEM THÊM NỮA</p>
        </div>
    </section>


    <% include ./layout/footer %>
        <form action="userpage/login" method="post">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div>
                            <h4 class="modal-title" id="dn">Đăng nhập</h4>
                        </div>
                        <div>
                            <input id="taikhoan" type="text" name="username" id="taikhoan" class="form-control" placeholder="Tài khoản">
                            <input id="matkhau" type="password" name="password" id="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                        <div>
                            <button type="button" class="btn btn-default form-control nut" data-dismiss="modal" id="txtlg" onclick="changeContentModalLogin()">Đăng nhập</button>
                            <p id="qmk"><a href="#">Bạn quên mật khẩu?</a></p>
                            <p id="dangkytk" onclick="changeContentModalRegister()">Đăng ký</p>
                        </div>
                        <div>
                            <div class="vientrai" id="txtText"></div>
                            <div class="giua" id="txth">Hoặc</div>
                            <div class="vienphai" id="txtv"></div>
                        </div>
                        <div id="fb"><a href="/logingoogle/auth/google"><i class="fa fa-google"></i></a></div>
                        <div id="gg"><a href="/logingoogle/auth/google" class="facebook"><i class="fa fa-facebook"></i></a></div>
                    </div>
                </div>
            </div>
        </form>
        <!--End-->
        </body>
        <script type="text/javascript" src="homepage/js/change.js"></script>

        </html>